@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  height: 100vh;
  /* min-height: 350px; */
  background-image: linear-gradient(to bottom, #a8edea 0%, #000000e8 100%);
  overflow: hidden;
}

#title {
  position: relative;
  font-size: 5em;
  background-image: linear-gradient(to right, black, darkgray, gray, lightgray, white);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  /* left: 50%; */
  /* transform: translateX(-50%); */

  transform: translateY(-250px);
  animation: forwards;
  /* transform: translatey(-2500px); */

  /* border-bottom: 2px solid gray; */
}

/* CONTAINER-PLAY */
.container-play {
  height: 100vh;
  display: grid;
  grid-template-rows: 50% 30%;
}

.container-play h1 {
  letter-spacing: 5px;
  animation: fade-in-out 5s;
}

.container-play button {
  margin: auto;
  border-radius: 20px;
  background-color: #667292;
  box-shadow: 10px 15px 40px #36486b84;
  width: 250px;
  height: 70px;
  font-size: 50px;
  color: #bccad6;
  border: none;
}

.container-play button:hover {
  border: none;
  background-color: #00000000;
  opacity: 1;
  color: #36486b;
  border-left: 1px solid rgb(75, 255, 15);
  border-right: 1px solid rgb(255, 15, 15);
  border-top: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);

}

.center {
  margin: auto;
  transform: translateY(-2500px);
  animation: forwards;
}

.btn-play:hover {
  transition: 0.5s ease-in-out;
  background: #8d9db6;
  cursor: pointer;

}

.container-play button {
  --color1: #596a8e;
  --color2: #bccad6;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  font-size: 46px;
  background: repeating-linear-gradient(45deg,
      var(--color1),
      var(--color1) 30px,
      var(--color2) 30px,
      var(--color2) 60px);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  animation: 40s linear 0s infinite move;
  border: 1px solid white;
  font-weight: 900;
}

@keyframes move {
  from {
    background-position: 0px;
  }

  to {
    background-position: 1000px;
  }
}

/* CONTAINER POUR JOUER */

.container {
  height: 100vh;
  display: none;
  grid-template-rows: 15% 60% 15%;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: auto;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
  font-size: 2.5rem;
  padding: 0 50px;
  text-align: center;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn {
  cursor: pointer;
  padding: 20px 50px;
  margin: 50px;

  /*css btn*/
  appearance: none;
  background-color: #ffffff;
  border-radius: 10em;
  border-style: none;
  box-shadow: #d8eaf8 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  outline: none;
  padding: 1.3rem 1.6rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.envoyer {
  position: relative;
}

#send {
  margin: auto;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
  border-radius: 15px;
  border: none;
  /* background-image: linear-gradient(to top, #fed6e3 0%, #adebe8 100%); */
  background-image: linear-gradient(to bottom, #a8edea 0%, #000000 100%);
  font-size: 1.5rem;
  cursor: pointer;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-transform: uppercase;
  transition: display 2s ease-in-out;
  animation: fade-in-out 1s linear;
  font-family: 'Bruno Ace SC', cursive;
  transform: scale(1.125);
  clip-path: polygon(50% 27%, 83% 12%, 100% 43%, 94% 78%, 41% 77%, 62% 78%, 6% 78%, 0% 43%, 17% 12%);
  
}

#send:hover {
  animation: myAnimation 0.35s ease forwards;
  color: rgb(218, 218, 218);
  font-weight: 900;
}

@keyframes myAnimation {
  to {
    clip-path: polygon(50% 13%, 83% 12%, 100% 83%, 94% 78%, 41% 77%, 62% 78%, 6% 78%, 0% 83%, 17% 12%);
    /* clip-path: polygon(0 0, 100% 1%, 100% 86%, 0 86%); */
    /* transform: scale(1.225); */
  }
}

.active {
  background-color: #5fff29 !important;
  box-shadow: #2e353998 0 -6px 8px inset !important;
  transform: scale(1.125) !important;
  animation: fade-in-out 1s linear !important;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



#btn:hover {
  background-color: #5fff29aa;
  box-shadow: #000000b0 0 -6px 8px inset;
  transform: scale(1.125);
}

#btn:active {
  transform: scale(1.025);
}

@media (max-width: 768px) {
  #send {
    font-size: 1.2rem;
    padding: .55rem 1rem;
  }

  #btn {
    padding: 10px 30px !important;
    margin: 20px !important;
    font-size: 1rem !important;
  }

  .btn-play {
    /* padding: 10px 30px !important;
    margin: 20px !important; */
    font-size: 2.5rem !important;
  }
}

@media (max-width: 568px) {
  #btn {
    padding: 10px 15px !important;
    margin: 10px !important;
    font-size: 1rem !important;
  }

  h1 {
    font-size: 1.5rem;
    padding: 0 5px;
  }

  .our-score {
    font-weight: 900;
    font-size: 2.5rem !important;
  }

  .errorr p {
    padding: 2px 5px !important;
    margin: 0px 5px !important;
    font-size: 0.9rem !important;
    text-align: left !important;
  }

}

/* container result  */
.container-result {
  height: 100vh;
  grid-template-rows: 50% 50%;
  display: none;
}

.score-error {
  display: grid;
}

.our-score {
  font-weight: 900;
  font-size: 3.5rem;
}

.errorr {
  position: relative;
  margin: auto;
  padding-top: 1%;
}

.errorr p {
  position: relative;
  padding: 5px 25px;
  font-family: 'Bebas Neue', cursive;
  margin: 0px 25px;
  font-size: 1.2rem;
  text-align: center;
}

.red {
  color: red;
}

.green {
  color: green;
}

.replay {
  display: flex;
  justify-content: center;
  align-items: center;
}

#replay-btn {
  padding: 20px 20px 22px 10px;
  clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
  background-image: linear-gradient(to left, #b88da5 0%, #c7eafd 100%);
  border: none;
  scale: 1.5;
  font-weight: 900;
  box-shadow: 20px 20px 20px black;
}

#replay-btn:hover {
  scale: 1.7;
  cursor: pointer;
  transition: scale 0.45s ease-in-out;
}